<div id="block-form-<%= user.id %>" class="block" >
  <%= form_for :block_users, url: user_path(user), remote: true,
    html: {method: :patch} do |f| %>
    <%= hidden_field_tag :type, user.handle(1) %>
    <%= f.submit t(user.handle(2)), class: user.handle(3) %>
  <% end %>
</div>
