$product-gray: #333;
$back-ground-img-product-grid: #607D8B;
$product-view-black: rgb(34, 34, 34);
$product-shop-border-bottom: rgb(217, 214, 200);
$button-red: #e71a0f;
$button-red-light: #f07469;
$product-name-black: #1a1919;
$screen-showtime-a: rgb(214,153,153);
$screen-showtime-a-hover: rgb(153,4,3);
$item-gray: #ccc;
$a-color-white: #fff;
$gray-medium-light: #eaeaea;
$main-nav: rbg(153,1,0);
$txt-error: rbg(136,32,5);
$txt-user: rbg(124,121,93);
$ticket-background: #494140;
$ticket-circle: #93aca2;
$ticket-box-shadow: rgba(0, 0, 0, 0.5);
$not-sell-red: #ff0000;
$alert-notice-color: #31708f;
$alert-notice-background: #d9edf7;
$alert-notice-border: #bce8f1;
$alert-alert-color: #8a6d3b;
$alert-alert-background: #fcf8e3;
$alert-alert-border: #faebcc;
