<% provide :title, t("review.edit_review") %>
<% provide :button, t("edit") %>
<% provide :url, motel_review_path(motel_id: @motel.id, id: @review.id) %>
<h1><%= t "review.edit_review" %></h1>
<div class="row">
  <%= render "form" %>
</div>
