<% provide :title, t("review.add_review") %>
<% provide :button, t("add") %>
<% provide :url, motel_reviews_path %>
<h1><%= t "review.add_review" %></h1>
<div class="row">
  <%= render "form" %>
</div>
